@page "/books-quick-grid"
@using Microsoft.AspNetCore.Components.QuickGrid

<PageTitle>Lista książek - Quick Grid Component</PageTitle>

<h3 class="page-title">Lista książek - Quick Grid Component</h3>

<a href="@("book/qgd")" class="btn btn-success btn-add">Dodaj książkę</a>

<QuickGrid Items="@_books?.AsQueryable()" class="table table-bordered table-striped table-hover table-responsive quickTable">
    <PropertyColumn Property="@(p => p.Id)" Align="Align.Center" Class="quickColumn" Sortable="true"/>
    <PropertyColumn Property="@(p => p.Title)" Align="Align.Center" Class="quickColumn" Sortable="true"/>
    <PropertyColumn Property="@(p => p.Author)" Align="Align.Center" Class="quickColumn" Sortable="true"/>
    <PropertyColumn Property="@(p => p.PublicationDate)" Title="Publication Date" Format="yyyy-MM-dd" Align="Align.Center" Class="quickColumn" Sortable="true"/>
    <PropertyColumn Property="@(p => p.Category)" Align="Align.Center" Class="quickColumn" Sortable="true"/>
    <TemplateColumn Title="Actions" Align="Align.Center" Class="quickColumn">
        <button class="btn btn-outline-secondary btn-edit bi bi-pencil" @onclick="@(() => EditBook(context.Id))"></button>
        <button class="btn btn-outline-secondary btn-del bi bi-trash3" @onclick="@(() => DeleteBook(context.Id))"></button>
    </TemplateColumn>
</QuickGrid>
